.contact {
  padding-block: 80px;
}
.contact input{
    padding: 10px;
    border: none;
    border-bottom: 1px solid #e3e4e4;
    border-radius: 5px;
    margin-bottom: 35px;
}
.contact input:focus{
    outline: none;
}
.contact form button{
    background-color: #1ABC9C;
    color: white;
    width: fit-content;
}
.contact form button:hover{
    background-color: #1ABC9C;
}
.contact hr{
    display: inline-block;
    width: 70px;
    border-top: 5px solid;
    margin: 0;
    opacity: 1;
}
.contactText{
    color: #2c3e50;
}
label {
    color: #1ABC9C;
}
.contact .btn:focus-visible{
    background-color: #1ABC9C;
}